* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #636161;


}

div {
    display: inline-block;

}

h1 {

    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

span {
    color: white;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    margin-top: 50px;
}

.video-1 {
    width: 400px;
    margin-left: 40px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;

}


.button-1 {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    background: rgb(140, 6, 245);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    top: 40px;
    right: 360px;


}

.video-2 {
    width: 400px;
    margin-left: 475px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    bottom: 234px;


}

.button-2 {

    width: 300px;
    height: 30px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 195px;
    right: 360px;
}

.video-3 {

    width: 400px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    left: 122%;
    bottom: 488px;


}

.button-3 {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    left: 73%;
    bottom: 450px;
}

.div-container {

    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-left: 48px;
    cursor: pointer;




}

.video-4,
.video-5,
.video-6 {
    display: inline-block;
    width: 400px;
    margin-left: -4px;
    border-radius: 20px;
    position: relative;
    bottom: 420px;
}

.video-5 {
    margin-left: 30px;
}

.video-6 {
    margin-left: 860px;
    position: relative;
    bottom: 103vh;
    
}

.button-4 {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 635px;
    left: 101px;


}

.button-5 {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 667px;
    left: 536px;
}

.button-6 {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 110vh;
    left: 70vw;


}

p {

    font-weight: 600;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-top: -600px;
    letter-spacing: 1px;
    word-spacing: 1px;
    width: 80%;
    margin-left: 130px;


}




@media screen and (max-width:767px) {

    body {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;


    }


    h1,
    span {

        color: #FFF;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-left: 45px;
        position: static;



    }

    .video-1 {

        margin-left: 6vw;
        width: 370px;



    }

    .button-1 {

        width: 220px;
        height: 30px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 21vw;
        top: 1vh;

    }

    .video-2 {

        width: 370px;
        position: relative;
        left: 0vw;


    }

    .button-2 {

        width: 220px;
        height: 30px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 21vw;
        top: 1vh;

    }

    .video-3 {
        width: 370px;
        position: relative;
        left: 0vw;
        top: 1vh;



    }

    .button-3 {

        width: 220px;
        height: 30px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 21vw;
        top: 1vh;

    }

    .video-4 {

        width: 370px;
        position: relative;
        left: 0vw;
        top: 4vh;

    }


    .button-4 {
        width: 220px;
        height: 30px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: absolute;
        top: 142vh;
        left: 88px;
        ;
    }

    .video-5 {

        width: 370px;
        position: relative;
        right: 18vw;
        top: 11vh;


    }

    .button-5 {

        width: 220px;
        height: 30px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: absolute;
        top: 176vh;
        left: 85px;

    }


    .video-6 {
        width: 370px;
        position: relative;
        top: 19vh;
        right: 13vw;
    }

    .button-6 {

        width: 220px;
        height: 30px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: absolute;
        left: 22vw;
        top: 210vh;


    }

    p {

        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        top: 47vh;
        width: 350px;
        right: 19vw;
        text-transform: capitalize;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

}