* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #636161;


}

div {
    display: inline-block;

}

h1 {

    color: white;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    margin-top: 30px;
}

span {
    color: white;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    margin-top: 50px;
}

.video-1 {
    width: 550px;
    margin-left: 70px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;

}


.button-1 {
    width: 368px;
    height: 44px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    top: 45px;
    right: 500px;


}

.video-2 {
    width: 550px;
    margin-left: 25px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    right: 300px;

}

.button-2 {

    width: 368px;
    height: 44px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    top: 45px;
    right: 760px;
}

.video-3 {

    width: 550px;
    margin-left: 25px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    left: 140%;
    bottom: 340px;


}

.button-3 {
    width: 368px;
    height: 44px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    left: 90%;
    bottom: 300px;
}

.div-container {

    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-left: 48px;
    cursor: pointer;




}

.video-4,
.video-5,
.video-6 {
    display: inline-block;
    width: 550px;
    margin-left: 25px;
    border-radius: 20px;
    position: relative;
    bottom: 260px;

}

.video-5 {
    margin-left: 100px;
}

.video-6 {
    margin-left: 80px;
}

.button-4 {
    width: 368px;
    height: 44px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 245px;
    left: 150px;


}

.button-5 {
    width: 368px;
    height: 44px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 290px;
    left: 800px;
}

.button-6 {
    width: 368px;
    height: 44px;
    border-radius: 25px;
    background: #8C06F5;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 332px;
    left: 1450px;


}

p {

    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-top: -240px;
    letter-spacing: 1px;
    word-spacing: 1px;
    width: 80%;
    margin-left: 170px;


}




@media screen and (max-width:767px) {

    body {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;


    }


    h1,
    span {

        color: #FFF;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2px;
        white-space: nowrap;
        width: 126px;



    }

    .video-1 {

        margin-left: 17vh;
        width: 540px;
        height: 332px;


    }

    .button-1 {

        width: 299px;
        height: 35px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 33vh;
        top: 1vh;

    }

    .video-2 {


        width: 540px;
        height: 332px;
        position: relative;
        left: 7vh;
    
    }

    .button-2 {

        width: 299px;
        height: 35px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 26vh;
        top: 1vh;


    }

    .video-3 {
        width: 540px;
        height: 332px;
        position: relative;
        left: 7vh;
        top: -1vh;



    }

    .button-3 {
        width: 299px;
        height: 35px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 26vh;
        top: 0vh;

    }

    .video-4 {

        position: relative;
        top: 3vh;
        left: 8vh;
        width: 540px;
        height: 332px;
    }


    .button-4 {
        position: relative;
        bottom: 69vh;
        left: 11vh;
        width: 299px;
        height: 35px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.9px;

    }

    .video-5 {

        width: 540px;
        height: 332px;
        position: relative;
        top: 10vh;
        left: 1vh;

    }

    .button-5 {

        width: 299px;
        height: 35px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 12vh;
        bottom: 32vh;
    
    }


    .video-6 {
        width: 540px;
        height: 332px;
        position: relative;
        top: 16vh;
        left: 3vh;
        }

    .button-6 {

        width: 299px;
        height: 35px;
        fill: #8A2BE2;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.9px;
        position: relative;
        left: 10vh;
        top: 5vh;
    

    }

    p {

        color: #FFF;
        text-align: center;
        font-size: 23px;
        font-weight: 600;
        position: relative;
        top: 38vh;
        width: 554px;
        right: 1vh;
        text-transform: capitalize;
        letter-spacing: 1px;
        word-spacing: 2px;}





















}